//
//  UnidadEditorialItunes.production.xcconfig
//  UnidadEditorialItunes
//
//  Copyright © 2019 SDOS. All rights reserved.
//

#include "main/configuration/xcconfig/UnidadEditorialItunes.shared.xcconfig"
#include "Pods/Target Support Files/Pods-UnidadEditorialItunes/Pods-UnidadEditorialItunes.production.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = es.sdos.unidadeditorial.itunes

CODE_SIGN_IDENTITY = iPhone Distribution
DEVELOPMENT_TEAM = xxxxxx // FIXME: Insert appstore TEAM ID here
PROVISIONING_PROFILE_SPECIFIER = xxxxxx // FIXME: Insert appstore provisioning profile ID
FABRIC_API_KEY = xxxxxx // FIXME: Insert Fabric Api key
FABRIC_BUILD_SECRET = xxxxxx // FIXME: Insert Fabric Build Secret

SDOSEnvironment = Production
