//
//  UnidadEditorialItunes.preproduction.xcconfig
//  UnidadEditorialItunes
//
//  Copyright © 2019 SDOS. All rights reserved.
//

#include "main/configuration/xcconfig/UnidadEditorialItunes.shared.xcconfig"
#include "Pods/Target Support Files/Pods-UnidadEditorialItunes/Pods-UnidadEditorialItunes.preproduction.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = es.sdos.unidadeditorial.itunes.test

CODE_SIGN_IDENTITY = iPhone Distribution
DEVELOPMENT_TEAM = Y5G9RYLF8Y
PROVISIONING_PROFILE_SPECIFIER = match InHouse $(PRODUCT_BUNDLE_IDENTIFIER)
FABRIC_API_KEY = 
FABRIC_BUILD_SECRET = 

SDOSEnvironment = Preproduction
